.aboutBackground {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    background: linear-gradient(110deg,#fc6341 55%,  #FFDDAD 55%) repeat fixed 100%;
}

.contentContainer {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


#studMuffin {
    max-width: 50%;
    height: auto;
    animation: slide-right 1s ease-out 1;
    align-self: end;
}

@keyframes slide-right {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.pageText {
    max-width: 50%;
    animation: slide-left 1s ease-out 1;
}

@keyframes slide-left {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.pageText h1 {
    font-size: 3em;
}

.pageText h2 {
    font-size: 2em;
}

.pageText h3 {
    font-size: 1.75em;
}

.pageText p {
    font-size: 1.25em;
}

.pageText i {
    --fa-beat-fade-opacity: 0.67;
    --fa-beat-fade-scale: 1.1;
}

#followText {
    font-size: 1.15em;
}

#scrollIcon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.darkFooter {
    margin-top: 2.5rem;
}

.darkFooter i {
    color: black;
}

.darkFooter p {
    color: black;
}

#portfolioLinkDark {
    color: black;
    text-decoration: none;
}

#portfolioLinkDark:hover {
    color: gray;
    text-decoration: underline;
}


@media only screen and (max-width: 550px) { 

    .aboutBack {
        height: 100vh;
        background: linear-gradient(115deg,#fc6341 55%,  #FFDDAD 55%);
    }

    .centered {
        width: 100%;
    }
    
    .pageText h2 {
        font-size: 20px;
    }
    
    .pageText h3 {
        font-size: 16px;
    }
    
    .pageText p {
        font-size: 14px;
        line-height: 20px;
    }

}





